/********** Mobil **********/

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid_2-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/********** Desktop **********/
@media (min-width: 700px) {
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .grid_2-1 {
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .grid_1-1 .order {
    grid-column: 1;
    grid-row: 1;
  }

  .grid_1-1 .stats_text {
    grid-column: 2;
    grid-row: 1;
  }
}

/********** Stats bokse (dl) **********/
.stats_dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.stats_dl > div {
  padding: 14px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stats_dl dt {
  font-weight: 600;
}

.stats_dl dd {
  margin: 0;
  font-weight: 800;
}

/********** Operative systemer **********/
.os_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: start;
  margin-bottom: 100px;
}

.os {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.os1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
}
.os2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
}
.os2 img {
  order: 1;
}

.tablet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
}

.tablet img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.os img {
  width: 100%;
  max-width: 420px;
  height: auto;
  display: block;
}

@media (max-width: 900px) {
  .os_grid {
    grid-template-columns: 1fr;
  }
  .os img {
    max-width: 100%;
  }
}

/********** Komponenter **********/
@media (min-width: 700px) {
  .komponent_grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  .komponent_grid img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    margin-bottom: 2rem;
  }

  .midter_tekst {
    max-width: 70ch;
    margin: 50px auto;
  }
}
/********** Galleri **********/

.galleri_intro {
  display: grid;
  gap: 40px;
}
@media (min-width: 700px) {
  .galleri_intro {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .galleri_intro p {
    grid-column: 2;
  }
  .galleri_intro h2 {
    grid-column: 2;
  }
  .komponent_kort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /********** Galleri **********/

  .galleri_grid {
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-auto-rows: 250px;
  }

  .galleri_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .galleri_grid img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .galleri_grid img:nth-child(4) {
    grid-column: span 2;
  }

  .galleri_grid img:nth-child(6) {
    grid-column: span 3;
  }
}
